
.test-2 {
}

.test-7 {
  --scope-hash: d80; /* Collision-prevention ID */
  color: green;
}

.test-7:first-child 
 { 
  } 
  
.test-7__sub 
{

}

.test-7__inner * {
}


.test-7_a_inner + .test-7__title * {
}


.test-7:first-child .test-7__inner + .test-7__item * {
}


.test-7:first-child > .test-7__inner:not(:last-child) + .test-7__item:not(:last-child) {
}

@media (min-width: 375px) {
  .test-7__inner {
  }

  .test-7 > .test-7__inner > .test-7__item {
  }
  .test-7:first-child > .test-7__inner:not(:last-child) + .test-7__item:not(:last-child) {
  }
}

@media (min-width: 768px) {
}


@keyframes test-7__slide-in {
  0% {
    left: 0px;
  }

  100% {
    left: 100px;
  }
}

.test-4 {
  color:red;
  --scope-hash: a07; /* Collision-prevention ID */
  background-color: aqua;
}

.test-4__inner 
{
  
}

.test-7 
{
  --scope-hash: d80;
}


