
.test-2 {
}

.test-3 {
  --scope-hash: d80; /* Collision-prevention ID */
  color: violet;
}

.test-3:first-child 
 { 
  } 
  
.test-3__sub 
{

}

.test-3__inner * {
}

.test-3_a_inner + .test-3__title * {
}

.test-3:first-child .test-3__inner + .test-3__item * {
}

.test-3:first-child > .test-3__inner:not(:last-child) + .test-3__item:not(:last-child) {
}

@media (min-width: 375px) {
  .test-3__inner {
  }

  .test-3 > .test-3__inner > .test-3__item {
  }
  .test-3:first-child > .test-3__inner:not(:last-child) + .test-3__item:not(:last-child) {
  }
}

@media (min-width: 768px) {
}

@keyframes test-3__slide-in {
  0% {
    left: 0px;
  }

  100% {
    left: 100px;
  }
}

.test-4 {
  --scope-hash: a07; /* Collision-prevention ID */
}

.test-4__inner 
{
  
}

